= simple_form_for @recipe, html: { multipart: true } do |f|
  - if @recipe.errors.any?
    #errors
      %p
        = @recipe.errors.count
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li = msg
  .panel-body
    = f.input :title, label: '標題', input_html: { class: 'form-control'}
    = f.input :description,label: '描述', input_html: { class: 'form-control'}
    = f.input :image, label: '圖片', input_html: { class: 'form-control'}

    .row
      .col-md-6
        %h3 材料
        #ingredients
          = f.simple_fields_for :ingredients do |ingredient|
            = render 'ingredient_fields', f: ingredient
          .link
            = link_to_add_association "新增材料", f, :ingredients, class: "btn btn-default"
      .col-md-6
        %h3 作法
        #directions
          = f.simple_fields_for :directions do |direction|
            = render 'direction_fields', f: direction
          .link
            = link_to_add_association "新增作法", f, :directions, class: "btn btn-default"

  = f.button :submit, yield(:button_text) , class: "btn btn-priary"
