.main_contain
  #recipe_top.row
    .col-md-4
      = image_tag @recipe.image.url(:medium, class: "recipe_image")
    .col-md-8
      #recipe_info
        %p.description= @recipe.description
        %p
          這篇食譜有由
          = @recipe.user.email
          製作!

  .row
    .col-md-6
      #ingredients
        %h2 食材
        - @recipe.ingredients.each do |ingredient|
          %ul
            %li= ingredient.name
    .col-md-6
      #directions
        %h2 步驟
        - @recipe.directions.each do |direction|
          %ul
            %li= direction.step

  .row
    .col-md-12
      =link_to "回首頁", root_path, class: "btn btn-default"
      - if user_signed_in? && @recipe.user == current_user
        =link_to "修改", edit_recipe_path, class: "btn btn-default"
        =link_to "刪除", recipe_path, method: :delete, data: {confirm: "確定刪除嗎？"}, class: "btn btn-danger"
