!!! 5
%html
  %head
    %title Recipe App
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %nav.navbar.navbar-default
      .container
        .navbar-brand= link_to "Recipe App", root_path
        - if user_signed_in?
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "新食譜", new_recipe_path
            %li= link_to "登出", destroy_user_session_path, method: :delete
        - else
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "註冊", new_user_registration_path
            %li= link_to "登入", new_user_session_path
    .container
      - flash.each do |name, msg|
        = content_tag :div, msg, class: "alert"

      = yield
